<div class="container mt-3">
    <div class="card shadow mb-4" style="width: 80%; margin: auto;">
        <div class="card-body">
          <form class="was-validated" (ngSubmit)="onSubmit()">
            
            <div class="row">
              <div class="col-3 mb-3">
                <label style="margin-bottom: 0px;" for="libelle" class="form-label">Libellé</label>
                <input type="text" class="form-control" id="libelle" placeholder="Libellé" required [(ngModel)]="libelle" name="libelle">
                <!-- <div class="valid-feedback">Valide</div> -->
                <div *ngIf="formSubmitted && !libelle" class="invalid-feedback">Veuillez renseigner le libellé</div>
              </div>
              <div class="col-3 mb-3">
                <label style="margin-bottom: 0px;" for="pwd" class="form-label">Unité</label>
                <select class="form-select" required>
                  <option *ngFor="let unite of unites" [value]="unite.id">{{ unite.libelle }}</option>
                </select>
                <!-- <div class="valid-feedback">Valide</div> -->
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="col-6 mb-3">
                <img src="assets/images/article_confection.png" class="circle-image" alt="article Confection" />
                <div class="valid-feedback">Valide</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
            </div>
            <div class="row">
              <div class="col-3 mb-3">
                <label style="margin-bottom: 0px;" for="quantite" class="form-label">Quantité</label>
                <input type="number" class="form-control" id="quantite" placeholder="Quantité" name="quantite" required [(ngModel)]="quantite">
                <div class="valid-feedback">Valide</div>
                <div *ngIf="formSubmitted && !libelle" class="invalid-feedback">Veuillez renseigner la quantité</div>
              </div>
              <div class="col-3 mb-3">
                <label style="margin-bottom: 0px;" for="pwd" class="form-label">Catégorie</label>
                <select class="form-select" required>
                  <option *ngFor="let categorie of categories" [value]="categorie.id">{{ categorie.libelle }}</option>
                </select>
                <!-- <div class="valid-feedback">Valide</div> -->
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
            </div>
            <div class="row">
              <div class="col-8 mb-3">
                <!-- <input [(ngModel)]="person.firstName" name="firstName"> -->
                <label style="margin-bottom: 0px;" for="quantite" class="form-label">Fournisseurs</label>
                <ng-multiselect-dropdown
                  [placeholder]="'Fournisseurs'"
                  [settings]="dropdownSettings"
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
                
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
          
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Libellé</th>
                        <th>QteStock</th>
                        <th>Catégorie</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                            <!-- articleconfections est une variable dans  liste-articles-confection.component.ts-->
                <tbody *ngFor="let articleconfection of articlesConfection">
                    <tr >
                        <td>{{articleconfection.reference}}</td>
                        <td>{{articleconfection.libelle}}</td>
                        <td>{{articleconfection.qteStock}}</td>
                        <td>{{articleconfection.categorie.libelle}}</td>
                        <td>
                            <button (click) = "updateArticleConfection(articleconfection.id)" class = "btn btn-primary"> Edit</button>
                            <button (click) = "deleteArticleConfection(articleconfection.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- <div class="container mt-3">
                <h2>Small Table</h2>
                <p>The .table-sm class makes the table smaller by cutting cell padding in half:</p>
                <table class="table table-bordered table-sm">
                  <thead>
                    <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>John</td>
                      <td>Doe</td>
                      <td>john@example.com</td>
                    </tr>
                    <tr>
                      <td>Mary</td>
                      <td>Moe</td>
                      <td>mary@example.com</td>
                    </tr>
                    <tr>
                      <td>July</td>
                      <td>Dooley</td>
                      <td>july@example.com</td>
                    </tr>
                  </tbody>
                </table>
              </div> -->
        </div>
    </div>
</div>
