<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<title>Gestion des Produits</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/articleconfections">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/articleconfections">Articles Confection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/articlesVente">Articles Vente</a>
          </li>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <ul class="navbar-nav ml-auto" >
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbardrop" data-toggle="dropdown">
      [username]
    </a>
    <div class="dropdown-menu">
    <a class="dropdown-item" href="#">login</a>
    <a class="dropdown-item" href="#">logout</a>
    <a class="dropdown-item" href="#">Profile</a>
    </div>
    </li>
    </ul> -->
  </nav>
<router-outlet></router-outlet>
<!-- <app-liste-article-confection></app-liste-article-confection> -->
</body>
</html>



